body {
  margin: 0;
  box-sizing: border-box;
  background: #dededee7;
}

.all-items{
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  gap: 20px;
  justify-content: center;
}

.card, .add-item{
  width: 20%;
  border: none;
  border-radius: 5px;
  padding: 20px;
  background: #ffffffe7;
  box-shadow: 0 0 5px #ffffffeb;
}

.add-item{
  font-size: 22px;
  font-weight: bold;
  font-family: Poppins;
  cursor: pointer;
}

.add-item:hover{
  background: #b4b4b4;
  color: white;
}



.card p{
  font-weight: bold;
  font-family: Poppins;
}

.span{
  font-family: Poppins;
  font-weight: 400;
}

.item-name{
  text-align: center;
  font-family: Poppins;
  font-weight: bold;
  font-size: 20px;
}

.form-div{
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.form{
  width: 40%;
  background: white;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px orangered;
}

.form label{
  font-weight: bold;
}

.form input{
  padding: 20px;
  border: none;
  background: #f1f1f1;
  font-family: Poppins;
}

.form button{
  border: none;
  border-radius: 5px;
  background: dodgerblue;
  text-align: center;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.delete-btn{
  border: none;
  border-radius: 5px;
  background: dodgerblue;
  text-align: center;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}


